/.idea/
/minimal/modules/main-module-bundle.zip
/minimal/minimal-descriptor-bundle.zip
/rbac/rbac-descriptor-bundle.zip
/initializer/initializer-descriptor-bundle.zip
/initializer/modules/tokenbased-module-bundle.zip
/endpoints/endpoints-descriptor-bundle.zip
/documents/documents-descriptor-bundle.zip
/documents/modules/documents-module-bundle.zip
/appmodel/modules/appmodel-functions-bundle.zip
/appmodel/modules/appmodel-module-bundle.zip
/appmodel/appmodel-descriptor-bundle.zip
/azure/modules/azure-module-bundle.zip
/azure/azure-descriptor-bundle.zip
/azure/modules/azure-sql-fn-parser-bundle.zip
